*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
   font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;  
  font-style: normal;
}


.header1{
    height: 35px;
    width: 100%;
   background: linear-gradient(135deg, #36A5C9 0%, #8BC9DD 100%);
}

.header2{
height: 90px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header2_area{
    width: 100%;
    max-width: 1300px;
   
    height: 100%;
    display: flex;
   
    align-items: center;
}


.escudo img{
    height:100px ;
    width: auto;
}

.escudo{
display: flex;
align-items: center;
}

.escudo_texto{
    display: flex;
    flex-direction: column;
    
   
    
}

.titulo1{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.titulo2{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 800;
}